/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.row-header-cell {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
}

.button{
    -fx-background-color: transparent;
}

.filter-menu-button {
 	-fx-background-color: transparent;
}

.table-view {
	-fx-focus-color: transparent;
}